<%- include('partials/header') %>

<div class="container">
	<div class="container">
		<h1>TalentBait Code Challenge</h1>
		<p>By: Meir Mouyal</p>
		<hr />
	</div>
</div>

<%- include('partials/footer') %>
