<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>TalentBait Code Challenge</title>

		<link rel="stylesheet" href="/css/styles.css" />
	</head>

	<body>
		<div id="navBar" style="margin: 5px 5px 20px 5px">
			<a href="/"><button>Home</button></a>
			<a href="/sentences"><button>List Job Sentences</button></a>
			<a href="/sentences/create"><button>Create Job Sentence</button></a>
		</div>
